<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techwork.kjc.mvp_project">
    <!--Permission-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="anroid.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!--테스트를 위한 컨트롤러-->
        <activity android:name=".controller.TestController" />

        <!--릴리즈용 스타트 컨트롤러-->
        <activity android:name=".controller.StartController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--나머지 릴리즈용 컨트롤러-->
        <activity android:name=".controller.Second_RegisterController"/>
        <activity android:name=".controller.Second_LoginController" />

        <activity android:name=".controller.Third_Recursive" />
        <activity android:name=".controller.Third_MeauserController" />
        <activity android:name=".controller.Third_VersusController" />
        <activity android:name=".controller.Third_FocusController" />

        <activity android:name=".controller.Fourth_TrackController"/>

        <!--유틸 액티비티-->
        <activity android:name=".util.PhotoProcess" />

        <!--프로바이더-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.techwork.kjc.mvp_project"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
